

/****************
 *              *
 *  Input Name  *
 *              *
 ****************/
.modal {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 150px;
    background: cornflowerblue;
    margin:15px;
    opacity: 0.7;
}

.modal-input {
    border: none;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}
.modal-input:focus{
    outline-color: red;
}
.modal-button {
    border: none;
    margin-top: 15px;
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.modal-button:hover {
    background-color: #bbb;
}

.modal-button:focus {
    outline-color : red;
}
.modal-message {
    margin-bottom: 15px;
    color:#111111;
    font-family: Sans-Serif;
    font-weight: bold;
    font-size: 18px;
}


.message {
    font-family: Sans-Serif;
    font-weight: bold;
    font-size: 70px;
    margin: 15px;
}
.welcome {
    opacity: 0.7;
}
.welcome-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;

    color: cornflowerblue;
}





.waiting-page {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
}

.router {
    height: 100%;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
}

/**********************
 *                    *
 *      GAME PAGE     *
 *                    *
 **********************/

.game-page {
    height: 100%;
    background: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.game-board {
    height: 70%;
    width: 50%;
    background: antiquewhite;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.opponent-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.result {
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    flex-grow: 7;
    background: crimson;
}

.text-result {
    flex-grow: 4;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.tie-result{
    color: blue;
}

.lose-result {
    color: red;
}

.win-result {
    color: green;
}

.gesture-selected {
    flex-grow: 2;
    background: #222222;
    color: white;
}

.button-panel {
    display: flex;
    align-items: stretch;
    flex-grow: 2;
}

.div-button {
    background: forestgreen;
    margin: 1px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.chat {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    height: 70%;
    width: 20%;

}

.video-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 5;
    background: crimson;
    margin-bottom: 10px
}

.text-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
    background: forestgreen;
}