.router {
    height: 100%;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
}

/*****************
 *               *
 *  Welcome page *
 *               *
 *****************/

.message {
    font-family: Sans-Serif;
    font-weight: bold;
    font-size: 70px;
    margin: 15px;
}

.welcome {
    opacity: 0.7;
}

.welcome-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
    color: cornflowerblue;
}

.waiting-page {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #ededed;
}

/****************
 *              *
 *  Input Name  *
 *              *
 ****************/
.modal {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 150px;
    background: cornflowerblue;
    margin: 15px;
    opacity: 0.7;
}

.modal-input {
    border: none;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.modal-input:focus {
    outline-color: red;
}

.modal-button {
    border: none;
    margin-top: 15px;
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.modal-button:hover {
    background-color: #bbb;
}

.modal-button:focus {
    outline-color: red;
}

.modal-message {
    margin-bottom: 15px;
    color: #111111;
    font-family: Sans-Serif;
    font-weight: bold;
    font-size: 18px;
}

/**********************
 *                    *
 *      GAME PAGE     *
 *                    *
 **********************/

.game-page {
    height: 100%;
    background: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.game-board {
    height: 70%;
    width: 50%;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.opponent-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.result {
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    height: 70%;
}

.text-result {
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.tie-result {
    color: blue;
}

.lose-result {
    color: red;
}

.win-result {
    color: green;
}

.gesture-selected {
    width: 25%;
    color: white;
}

.result-img {
    background: no-repeat center;
    height: 100%;
}

.button-panel {
    display: flex;
    height: 35%;
}

.div-button {
    margin: 1px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    transition: transform 1s;
    cursor: pointer;
    width: 20%;
    min-width: 70px;
}

.div-button:hover {
    transform: translateY(-30px);
}

.choose:hover {
    transform: unset;
}

.block {
    opacity: 0.4;
}

.block:hover {
    transform: unset;
}

.chat {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    height: 90%;
    width: 30%;

}

/**********************
 *                    *
 *      TEXT CHAT     *
 *                    *
 **********************/

.text-chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: whitesmoke;
}

.messages {
    width: 100%;
    max-height: 90%;
    flex-grow: 20;
    overflow-y: auto;
}

.message-li {
    width: 100%;
}

.send-form {
    display: flex;
    position: relative;
    height: 5%;
    flex-grow: 1;
    width: 100%;
}

.send-input {
    width: 90%;
}

.send-button {
    border: none;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.send-button:hover {
    background-color: #bbb;
}

.message {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.message-user-1 + .message-user-2,
.message-user-2 + .message-user-1 {
    margin-top: 1em;
}

.message-user-1 + .message-user-1,
.message-user-2 + .message-user-2 {
    margin-top: .5em;
}

.message-time {
    font-size: 10px;
    color: #ccc;
    width: 100%;
    margin: 0 0 5px 5px;
}

.message-text {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #69b4f3;
    background-color: #bfe2ff;
    max-width: 70%;
}

.message-user-2 {
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

.message-user-2 .message-time {
    text-align: right;
    margin: 0 5px 5px 0;
}

.message-user-2 .message-text {
    background-color: #69b4f3;
}

/***********************
 *                     *
 *      VIDEO CHAT     *
 *                     *
 ***********************/
.video-chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 10px
}

.videos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-content: space-around;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons button {
    border: none;
    padding: 10px;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.buttons button:hover {
    background-color: #bbb;
}

video {
    margin-bottom: 5px;
    margin-left: 5px;
    width: 200px;
}

/**********************
 *                    *
 *       SCROLL       *
 *                    *
 **********************/

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #fff, #e4e4e4);
    border: 1px solid #aaa;
}

::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

::-webkit-scrollbar-thumb:active {
    background: linear-gradient(left, #22ADD4, #1E98BA);
}